@import './common/var.scss';
@import './mixins/config.scss';
@import './mixins/mixin.scss';

@include b(checkbox) {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  @include e(label) {
    padding-left: 5px;
    font-size: 14px;
  }
}