@import './common/var.scss';
@import './mixins/config.scss';
@import './mixins/mixin.scss';

@include b(transfer) {
  display: flex;
  align-items: center;

  .title {
    height: 40px;
    line-height: 40px;
    background: #f5f7fa;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 10px;
  }

  @include e(panel) {
    width: 220px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;

    .list {
      padding: 0 10px;
      height: 240px;
      overflow-y: auto;
      line-height: 26px;
    }
  }

  @include e(buttons) {
    margin: 0 20px;

    button {
      margin: 0 5px;
    }
  }
}